 .container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
} 

.jogo {
    background-color: aliceblue;
    padding: 20px;
}


button {
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    background-color: rgb(202, 221, 237);
}

.input {
  border: 2px solid #e8e8e8;
  padding: 15px;
  border-radius: 10px;
  background-color: #868686;
  font-size: small;
  font-weight: bold;
  text-align: center;
  margin-right: 5px;
 }
 
 .input:focus {
  outline-color: white;
  background-color: #868686;
  color: #e8e8e8;
  box-shadow: 5px 5px #888888;
 }